<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div
  class="card"
  [ngStyle]="{'background-color':(selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="header">
    <h2 class="title">{{item.firstname}}{{item.lastName}}</h2>
  </div>
  <div class="content">
    <ng-content select=".top"></ng-content>

    <p> Player-No.: #{{item.playerNumber}}</p>

    <p> Team: {{item.team}}</p>
      <a [routerLink]="['team', this.id]">{{this.name}}</a>

    <p> Marketvalue: {{item.marketValue}}</p>
    <p> Height: {{item.height}}</p>
    <p> Birthdate: {{item.birthDate}}</p>


    <ng-content select=".bottom"></ng-content>
    <p>
      <button
        class="btn btn-default"
        *ngIf="!selected"
        (click)="deselect()">
        Remove
      </button>
    </p>
    <a class="btn btn-default"
       [routerLink] = "['/player-edit', item.id, { showDetails: true }]">
      Edit
    </a>
  </div>
<!--

  <form *ngIf="player">

    <div class="form-group">
      <label>Number:</label>
      <input [(ngModel)]="player.playerNumber" name="number" class="form-control">
    </div>

    <div class="form-group">
      <label>Firstname:</label>
      <input [(ngModel)]="player.firstName" name="firstName"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Lastname:</label>
      <input [(ngModel)]="player.lastName" name="lastName"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Team:</label>
      <input [(ngModel)]="player.team" name="team"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Marketvalue:</label>
      <input [(ngModel)]="player.marketValue" name="marketValue"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Height:</label>
      <input [(ngModel)]="player.height" name="height"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Birthdate:</label>
      <input [(ngModel)]="player.dayOfBirth" name="dayOfBirth"
             class="form-control">
    </div>

    <button class="btn btn-default" click="savePlayer()">Save</button>

  </form>

  -->

</div>
</body>
</html>
