<div class="card-deck">
<div
  class="card2"
  [ngStyle]="{'background-color':(selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="card-header">
    <h2 class="title">{{item.firstName}} {{item.lastName}}</h2>
  </div>
  <div class="card-main">
    <ng-content select=".top"></ng-content>

    <p> Player-No.: #{{item.playerNumber}}</p>

    <p>Team: <a [routerLink]="['/team-view']">{{teamOfPlayer?.name}}</a></p>


    <p> Marketvalue: {{item.marketValue}} $</p>
    <p> Height: {{item.height}}</p>
    <p> Birthdate: {{item.dayOfBirth}}</p>
    <p> Position: {{item.position}}</p>


    <ng-content select=".bottom"></ng-content>
    <!--<p>
      <button
        class="btn btn-default"
        *ngIf="!selected"
        (click)="deselect()">
      </button>
    </p>-->
    <p>
    <a class="button"
       [routerLink] = "['/player-edit', item.id, { showDetails: true }]">
      Edit
    </a>
    </p>
    <p>
    <a class="button"
       (click)="deletePlayer(item.id)">
      Remove
    </a>
    </p>
    <p>
      <a class="button"
         [routerLink] = "['/player-view', item.id, { showDetails: true }]">
        Details
      </a>
    </p>
  </div>
  <!--
    <form *ngIf="players">
      <div class="form-group">
        <label>Number:</label>
        <input [(ngModel)]="players.playerNumber" name="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Firstname:</label>
        <input [(ngModel)]="players.firstName" name="firstName"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Lastname:</label>
        <input [(ngModel)]="players.lastName" name="lastName"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Team:</label>
        <input [(ngModel)]="players.team" name="team"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Marketvalue:</label>
        <input [(ngModel)]="players.marketValue" name="marketValue"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Height:</label>
        <input [(ngModel)]="players.height" name="height"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Birthdate:</label>
        <input [(ngModel)]="players.dayOfBirth" name="dayOfBirth"
               class="form-control">
      </div>
      <button class="btn btn-default" click="savePlayer()">Save</button>
    </form>
    -->


</div>
</div>
