
<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/basketball.ico" alt="">
      </div>
      BBL
    </a>
  </div>
  <ul class="nav">
    <li>
      <a>
        <i class="ti-home"></i>
        <p><a routerLink="home">Home</a></p>
      </a>
    </li>

    <li>
      <a>
        <i class="ti-cup"></i>
        <p><a routerLink ="league">League</a></p>
      </a>
    </li>

    <li>
      <a>
        <i class="ti-hand-open"></i>
        <p><a routerLink ="team">Team</a></p>
      </a>
    </li>

    <li>
      <a>
        <i class="ti-user"></i>
        <p><a routerLink = "player">Player</a></p>
      </a>
    </li>

    <li>
      <a>
        <i class="ti-crown"></i>
        <p><a routerLink ="stadium">Stadium</a></p>
      </a>
    </li>
  </ul>
</div>
