<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div
  class="card"
  [ngStyle]="{'background-color':(selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="header">
    <h2 class="title">{{item.name}}</h2>
  </div>
  <div class="content">
    <ng-content select=".top"></ng-content>

    <p> Hometown: {{item.hometown}}</p>
    <p> Startdate: {{item.startDate}}</p>
    <p> Mascot: {{item.mascot}}</p>
    <p> Players: {{item.players}}</p>
    <p> Stadium: {{item.stadium }}</p>
    <p> League: {{item.league }}</p>


    <ng-content select=".bottom"></ng-content>
    <p>
      <button
        class="btn btn-default"
        *ngIf="!selected"
        (click)="deselect()">
        Remove
      </button>
    </p>
    <a class="btn btn-default"
       [routerLink] = "['/team-edit', item.id, { showDetails: true }]">
      Edit
    </a>
  </div>
</div>

</body>
</html>
