<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="card">
  <div class="header">
    <h1 class="title">Stadium Edit</h1>
  </div>
  <div class="form-group">

  </div>

  <form *ngIf="stadium">

    <div class="form-group">
      <label>Id:</label>
      <input [(ngModel)]="stadium.id" name="id" class="form-control">
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="stadium.name" name="name"
             class="form-control">
    </div>

    <div class="form-group">
      <label>Teams:</label>
      <input [(ngModel)]="stadium.teams" name="teams"
             class="form-control">
    </div>

    <div class="form-group">
      <label>Visitorlimit:</label>
      <input [(ngModel)]="stadium.visitorLimit" name="visitorLimit"
             class="form-control">
    </div>

    <div class="form-group">
      <label>Land:</label>
      <input [(ngModel)]="stadium.land" name="land"
             class="form-control">
    </div>
    <div class="form-group">
      <label>City:</label>
      <input [(ngModel)]="stadium.city" name="city"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Street:</label>
      <input [(ngModel)]="stadium.streetAndNumber" name="streetAndNumber"
             class="form-control">
    </div>
    <div class="form-group">
      <label>ZIP:</label>
      <input [(ngModel)]="stadium.plz" name="plz"
             class="form-control">
    </div>
    <div class="form-group">
      <label>BuildDate:</label>
      <input [(ngModel)]="stadium.buildDate" name="buildDate"
             class="form-control">
    </div>
    <button class="btn btn-default" click="saveStadium()">Save</button>

  </form>

</div>
</body>
</html>
