<div class="container3">
<div class="card">
  <div class="header">
    <h1 class="title">Add a Stadium</h1>
  </div>
  <div class="form-group">

  </div>

  <form #form="ngForm" *ngIf="stadium">


    <div class="form-group" >
      <label>Name:</label>

      <input [(ngModel)]="stadium.name" name="name"
             class="form-control"
             #name="ngModel"
             placeholder="Enter a name..."
              required
              minlength="4"
             pattern="[a-zA-Z -]*"
              >
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name.errors.pattern">
        A name cannot contain numbers.
      </div>
    </div>


      <div class ="form-group">
        <label>Team:</label>
        <select multiple [(ngModel)]="teamsOfStadium" name="teamname" class="form-control" required>
          <option *ngFor="let team of allTeams"[value]="team" [selected] = "team == teamOfStadium">{{team.name}}</option>
        </select>
      </div>

     <!-- <input [(ngModel)]="stadium.teams" name="teams"
             class="form-control"
              #teams="ngModel"
              required>-->
   <!-- <div *ngIf="teams.invalid && (teams.dirty || teams.touched)"
         class="alert alert-danger">

      <div *ngIf="teams.errors.required">
        A team is required.
      </div>
    </div>-->



    <div class="form-group">
      <label>Visitorlimit:</label>
      <input [(ngModel)]="stadium.visitorLimit" name="visitorLimit"
             class="form-control"
             #visitorLimit="ngModel"
             placeholder="Enter a visitorLimit..."
              required
              pattern="[0-9]*">
    </div>
    <div *ngIf="visitorLimit.invalid && (visitorLimit.dirty || visitorLimit.touched)"
         class="alert alert-danger">

      <div *ngIf="visitorLimit.errors.required">
        A visitorlimit is required.
      </div>
      <div *ngIf="visitorLimit.errors.pattern">
        Only numbers are allowed.
      </div>
    </div>

    <div class="form-group">
      <label>Country:</label>
      <input [(ngModel)]="stadium.land" name="land"
             class="form-control"
             placeholder="Enter a country..."
              #land="ngModel"
              required
             minlength="3"
             pattern="[a-zA-Z -]*"
              >
    </div>

    <div *ngIf="land.invalid && (land.dirty || land.touched)"
         class="alert alert-danger">

      <div *ngIf="land.errors.required">
        A country is required.
      </div>
      <div *ngIf="land.errors.minlength">
        A country must have at least 3 characters.
      </div>

      <div *ngIf="land.errors.pattern">
        A country's name cannot contain numbers.
      </div>
    </div>


    <div class="form-group">
      <label>City:</label>
      <input [(ngModel)]="stadium.city" name="city"
             class="form-control"
             placeholder="Enter a city..."
             #city="ngModel"
             required
             minlength="3"

             pattern="[a-zA-Z -]*"
      >
    </div>

    <div *ngIf="city.invalid && (city.dirty || city.touched)"
         class="alert alert-danger">

      <div *ngIf="city.errors.required">
        A city is required.
      </div>
      <div *ngIf="city.errors.minlength">
        A city must have at least 3 characters.
      </div>

      <div *ngIf="city.errors.pattern">
        A city's name cannot contain numbers.
      </div>
    </div>

    <div class="form-group">
      <label>Street:</label>
      <input [(ngModel)]="stadium.streetAndNumber" name="streetAndNumber"
             class="form-control"
             placeholder="Enter a street..."
             #streetAndNumber="ngModel"
             required
             minlength="7"

      >
    </div>

    <div *ngIf="streetAndNumber.invalid && (streetAndNumber.dirty || streetAndNumber.touched)"
         class="alert alert-danger">

      <div *ngIf="streetAndNumber.errors.required">
        A street is required.
      </div>
      <div *ngIf="streetAndNumber.errors.minlength">
        A street must be at least 7 characters long.
      </div>

    </div>

    <div class="form-group">
      <label>ZIP:</label>
      <input [(ngModel)]="stadium.plz" name="plz"
             class="form-control"
             #plz="ngModel"
             placeholder="Enter a zip"
             required
             minlength="3"
             maxlength="10"
              pattern="[0-9]*">
    </div>

    <div *ngIf="plz.invalid && (plz.dirty || plz.touched)"
         class="alert alert-danger">

      <div *ngIf="plz.errors.required">
        A ZIP is required.
      </div>
      <div *ngIf="plz.errors.minlength">
        A ZIP must be at least 3 characters long.
      </div>
      <div *ngIf="plz.errors.maxlength">
        A ZIP cannot be longer than 10 characters.
      </div>
      <div *ngIf="plz.errors.pattern">
        Only numbers are allowed.
      </div>
    </div>


    <div class="form-group">
      <label>BuildDate:</label>
      <!--<input type="date" [(ngModel)]="stadium.buildDate" name="buildDate"-->
      <input [(ngModel)]="stadium.buildDate" name="buildDate" class="form-control"
             #buildDate="ngModel"
             placeholder="e.g. 13.08.1994"
             required
             pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"
      >

    </div>

    <div *ngIf="buildDate.invalid && (buildDate.dirty || buildDate.touched)"
         class="alert alert-danger">
      <div *ngIf="buildDate.errors.required">
        A builddate is required.
      </div>
      <div *ngIf="buildDate.errors.pattern">
        A builddate must have the format dd.mm.yyyy
      </div>

    </div>


    <button class="btn btn-default" [disabled]="!form.valid" (click)="saveStadium()">Save</button>

  </form>

</div>
</div>
