<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="card">
  <div class="header">
    <h1 class="title">Stadium Edit</h1>
  </div>
  <div class="form-group">


<!--
  <form [formGroup]="editForm" >
    <label>Id:</label>
    <input formControlName="id">
    <label>Name:</label>
    <input formControlName="name">

  </form>


  <div formArrayName="stadiums">
    <p>ID: <input formControlName="id"></p>
    <p>Name: <input formControlName="name"></p>
    <p>Street: <input formControlName="streetAndNumber"></p>
    <p>ZIP: <input formControlName="pls"></p>
    <p>City: <input formControlName="city"></p>
    <p>Land: <input formControlName="land"></p>
    <p>Build Date: <input formControlName="buildDate"></p>
    <p>Teams : <input formControlName="team"></p>
    <p>Visitorlimit: <input formControlName="visitorLimit"></p>
  </div>
  </div>
  -->
    <form *ngIf="stadium">

      <div *ngIf="stadium.id" class="form-group">
        <label>Id:</label>
        <input [(ngModel)]="stadium.id" name="id" class="form-control">
      </div>

      <div *ngIf="stadium.name" class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="stadium.name" name="name"
               class="form-control">
      </div>

      <div *ngIf="stadium.streetAndNumber" class="form-group">
        <label>Street:</label>
        <input [(ngModel)]="stadium.streetAndNumber" name="streetAndNumber"
               class="form-control">
      </div>
      <div *ngIf="stadium.plz" class="form-group">
        <label>ZIP:</label>
        <input [(ngModel)]="stadium.plz" name="plz"
               class="form-control">
      </div>
      <div *ngIf="stadium.city" class="form-group">
        <label>City:</label>
        <input [(ngModel)]="stadium.city" name="city"
               class="form-control">
      </div>
      <div *ngIf="stadium.land" class="form-group">
        <label>Land:</label>
        <input [(ngModel)]="stadium.land" name="land"
               class="form-control">
      </div>
      <div *ngIf="stadium.buildDate" class="form-group">
        <label>Date:</label>
        <input [(ngModel)]="stadium.buildDate" name="buildDate"
               class="form-control">
      </div>

      <!--<div *ngIf="stadium.teams" class="form-group">-->
        <p *ngFor="let team of stadium.team">
          <label>Teams: </label>
          <input [(ngModel)]="team.name" name="teams"
                 class="form-control">
        </p>
     <!-- </div> -->

      <div *ngIf="stadium.visitorLimit" class="form-group">
        <label>Visitorlimit:</label>
        <input [(ngModel)]="stadium.visitorLimit" name="visitorLimit"
               class="form-control">
      </div>

      <button class="btn btn-default" (click)="saveStadium()">Save</button>


    </form>
  </div>
</div>
</body>
</html>
