<div class="container3">
<div class="card">
  <div class="header">
    <h1 class="title">Add a Team</h1>
  </div>
  <div class="form-group">

  </div>

  <form #form="ngForm" *ngIf="team">


    <div class="form-group" >
      <label>Name:</label>

      <input [(ngModel)]="team.name" name="name"
             class="form-control"
             placeholder="Enter a name..."
             #name="ngModel"
             required
             minlength="4"

      >
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters long.
      </div>

    </div>

    <div class="form-group">
      <label>Hometown:</label>
      <input [(ngModel)]="team.hometown" name="hometown"
             class="form-control"
             placeholder="Enter a hometown..."
             #hometown="ngModel"
             required
             minlength="3"

             pattern="[a-zA-Z -]*"
      >
    </div>

    <div *ngIf="hometown.invalid && (hometown.dirty || hometown.touched)"
         class="alert alert-danger">

      <div *ngIf="hometown.errors.required">
        A hometown is required.
      </div>
      <div *ngIf="hometown.errors.minlength">
        A hometown must have at least 3 characters.
      </div>

      <div *ngIf="hometown.errors.pattern">
        A hometown's name cannot contain numbers.
      </div>
    </div>

    <div class="form-group">
      <label>StartDate:</label>
      <input [(ngModel)]="team.startDate" name="startDate"
             class="form-control"
             placeholder="e.g. 13.08.1994"
             #startDate="ngModel"
             required
             pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"
      >
    </div>

    <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
         class="alert alert-danger">
      <div *ngIf="startDate.errors.required">
        A date is required.
      </div>
      <div *ngIf="startDatee.errors.pattern">
        A date must have the format dd.mm.yyyy
      </div>

    </div>

    <div class="form-group">
      <label>Maskot:</label>
      <input [(ngModel)]="team.mascot" name="mascot"
             class="form-control"
             placeholder="Enter a maskot..."
             #mascot="ngModel"
             required
             minlength="3"
             maxlength="24"
      >
    </div>

    <div *ngIf="mascot.invalid && (mascot.dirty || mascot.touched)"
         class="alert alert-danger">

      <div *ngIf="mascot.errors.required">
        A mascot is required.
      </div>
      <div *ngIf="mascot.errors.minlength">
        A mascot must have at least 3 characters.
      </div>
      <div *ngIf="mascot.errors.maxlength">
        A mascot's name cannot be longer than 24 characters.
      </div>
    </div>

    <div>
      <label>Players:</label>
        <select multiple [(ngModel)]="playersOfTeam" name="teamname" class="form-control" required>
          <option *ngFor="let player of allPlayers"[value]="player" [selected] = "player == playersOfTeam">{{player.firstName}} {{player.lastName}}</option>
        </select>
      </div>

    <div class ="form-group" >
      <label>Stadium:</label>
      <select [(ngModel)]="stadiumOfTeam.id" name="stadiumName" class="form-control" required>
        <option *ngFor="let stadium of allStadiums"[value]="stadium.id">{{stadium.name}}</option>
      </select>
    </div>


    <div class ="form-group" >
      <label>League:</label>
      <select [(ngModel)]="leagueOfTeam.id" name="leagueName" class="form-control" required>
        <option *ngFor="let league of allLeagues"[value]="league.id">{{league.name}}</option>
      </select>
    </div>



    <button class="btn btn-default" [disabled]="!form.valid" (click)="saveTeam()">Save</button>

  </form>

</div>
</div>
