<div class="container3">
  <h1> Albatraoz</h1>
  <p>This Application was realized as part of a study project of the course "Software Engineering Selective" of the degree program "<br>
    Information Management" at the FH Joanneum Graz. This is the project Folder for the frontend part created by the following <br>
    team members: <p>
  <a href="https://github.com/SuperCari">Cölestin Carina</a><br>
  <a href="https://github.com/fortmuel15">Vanessa Fortmüller</a><br>
  <a href="https://github.com/HribernigNikolaus">Hribernig Nikolaus</a><br>
  <a href="https://github.com/x-qlusive">Plank Patrick</a><br>

  <img src="./projectdocu/basketballhome.jpg"></p></div>
