<div class="container3">
<h1> Albatraoz</h1>
<p>Mesdames et Monsieurs</p>
<p>S'il vous plaît</p>
<p>Soyez prêt pour AronChupa et Albatraoz</p>
<p>C'est parti!</p>
<br>
<p>  Let me tell you all a story</p>
<p>About a mouse, name Dilory</p>
<p>Dilory was a mouse in a big brown house</p>
<p>She call herself the hoe</p>
<p>With the money money blow</p>
<p> But fuck that little mouse 'cause I'm an albatraoz</p>
<br>
<p>I'm an albatraoz</p>
<p>I'm an albatraoz</p>
<br>
<p>Dilory said she was a mouse</p>
<p>Smoked the cheese and light it out</p>
<p>Moneyli money money hoe</p>
<p>Katching katching katching kablow</p>
<p>Dilory was a witch, yeah a sneaky little bitch</p>
<p>So fuck that little mouse 'cause I'm an albatraoz</p>
<br>
<p>I'm an albatraoz</p>
<p>I'm, I'm, I'm</p>
<p></p>
<p>Mesdames et Monsieurs</p>
<p>S'il vous plaît</p>
<p>Soyez prêt pour AronChupa et Albatraoz</p>
<p> C'est parti!</p>
<br>
<p>I got it!</p>
<br>
<p>Ooh I say yeah</p>
<p>Ooh I say yeah</p>
<br>
<p>I'm an albatraoz</p>
<p>So what</p>
<p>I'm, I'm, I'm</p>
<p>Stop</p>
<p>I got it</p>
<p>I'm an albatraoz</p>
<p>This is albatraoz, yeah</p>
</div>
