

<div class="container3">
  <img src="assets/img/fhlogo.png" align="right">
  <br>

  <h1>Basketball SWENGS</h1>




  <p>This Application was realized as part of a study project of the course "Software Engineering Selective"<br>
    of the degree program "Information Management" at the FH Joanneum Graz. The project was created<br>
    by the following team members: <p>


  <p>
    <a href="https://github.com/SuperCari">Cölestin Carina</a><br>
    <a href="https://github.com/fortmuel15">Vanessa Fortmüller</a><br>
    <a href="https://github.com/HribernigNikolaus">Hribernig Nikolaus</a><br>
    <a href="https://github.com/x-qlusive">Plank Patrick</a><br></p>

    <img src="assets/img/basketballhome.jpg">

</div>


