<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Impressum</h2>

<p>This website was created in the course of the lecture Software Engineering Selective as a student project under the instruction of the professors DI (FH) Johann Blauensteiner
  and DI (FH) Manfred Steyer M.Comp.Sc . This course is part of the fifth semester of the bachelor degree program Information Managment at University of Applied Science in Graz. </p>


<p>
  Students involved in this project are:
<ul>
  <li> Carina Cölestin </li>
  <li> Vanessa Fortmüller </li>
  <li> Nikolaus Hribernig </li>
  <li> Patrick Plank </li>

</ul>



<h2> Contact</h2>
<p>  Institution: <a href="https://www.fh-joanneum.at" target="_blank"> FH JOANNEUM Gesellschaft mbH</a><br>
  Address: <a href="https://www.google.at/maps/place/Fachhochschule+Joanneum/@47.069313,15.40799,17z/data=!3m1!4b1!4m2!3m1!1s0x476e350ee5b5f885:0xdcf52580ffd6a24e?hl=de" target="_blank" >
     Alte Poststrasse 149 , A-8020 Graz<br> </a>
  Phone:<a href="tel:+4331654530">  +43 (0)316 5453-0 </a><br>
  Fax:<a href="fax:+4331654538801"> +43 (0)316 5453-8801 </a><br>
  E-Mail: <a href="mailto:info@fh-joanneum.at">info@fh-joanneum.at</a><br><br><br>
  Course of Studies: <a href="https://www.fh-joanneum.at/informationsmanagement/bachelor/" target="_blank">IMA15</a><br><br>
</p>

</body>
</html>
