<div class="card">
  <div class="card-header">
    <h2 class="title">Leagues</h2>
  </div>
  <div class="content">
    <form>

      <a class="btn btn-default"
         [routerLink] = "['/league-create']">
        Add New League
      </a>

    </form>
  </div>
</div>
<!-- Reaktive Suchfunktion //TODO: reaktive suchfunktion
       <input type="search"
              class="form-control"
              placeholder="Search League Name"
              [formControl]="searchField">
       <hr/>
       <ul>
         <li *ngFor="let search of searches">{{ search }}</li>
       </ul>
       -->

<div class="row">
  <div *ngFor="let l of allLeagues" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <league-card
      [item]="l"
      [selected]="basket[l.id]" (selectedChange)="basket[l.id] = $event">
      <pre>{{ l | json }}</pre>

      <h3 class="top"></h3>
    </league-card>
  </div>
</div>

