<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LeagueCard</title>
</head>
<body>

<div
  class="card"
  [ngStyle]="{'background-color':(selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="header">
    <h2 class="title">{{item.name}}</h2>
  </div>
  <div class="content">
    <ng-content select=".top"></ng-content>
    <p> Full name: {{item.fullName}}</p>
    <p> Land: {{item.land}}</p>
    <p *ngFor="let team of item.team">
      <label>Teams: </label>
      <a [routerLink]="['team', team.id]">{{team.name}}</a>
    </p>

    <p> TeamCount: {{item.teamCount}}</p>
    <p> Foundation Year: {{item.foundationYear}}</p>

  </div>
  <div class = "bottom">
    <ng-content select=".bottom"></ng-content>

      <button
        class="btn btn-default"
        *ngIf="!selected"
        (click)="deselect()">
        Remove
      </button>

    <a class="btn btn-default"
       [routerLink] = "['/league-edit', item.id, { showDetails: true }]">
      Edit
    </a>
  </div>
<!--
  <form *ngIf="league">

    <div class="form-group">
      <label>Id:</label>
      <input [(ngModel)]="league.id" name="id" class="form-control">
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="league.name" name="name"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Full Name:</label>
      <input [(ngModel)]="league.fullName" name="fullName"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Land:</label>
      <input [(ngModel)]="league.land" name="land"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Teams:</label>
      <input [(ngModel)]="league.teams" name="teams"
             class="form-control">
    </div>
    <div class="form-group">
      <label>TeamCount:</label>
      <input [(ngModel)]="league.teamCount" name="teamCount"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Foundation Year:</label>
      <input [(ngModel)]="league.foundation_year" name="foundation_year"
             class="form-control">
    </div>


    <button class="btn btn-default" click="saveLeague()">Save</button>

  </form>
-->
</div>
</body>
</html>
