<div class="card-deck">
<div
  class="card2"
  [ngStyle]="{'background-color':(selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="card-header">
    <h2 class="title">{{item.name}}</h2>
  </div>
  <div class="card-main">
    <ng-content select=".top"></ng-content>
    <h4> {{item.fullName}}</h4>
    <p> Land: {{item.land}}</p>
    <p> Foundation Year: {{item.foundationYear}}</p>
    <p>Teams: </p>

    <p *ngFor="let team of item.team">

      <a [routerLink]="['/team-view', team.id]">{{team.name}}</a>
    </p>

    <ng-content select=".bottom"></ng-content>
<p>
      <a
        class="button"
        (click)="deleteLeague(item)">
        Remove
      </a>
</p>
    <p>
  <a class="button"
     [routerLink] = "['/league-edit', item.id, { showDetails: true }]">
    Edit
  </a>
    </p>
<p>
  <a class="button"
     [routerLink] = "['/league-view', item.id, { showDetails: true }]">
    Details
  </a>
</p>



  </div>
</div>

</div>
